
.vs/
*.suo
*.user
*.cache
*.log


bin/
obj/


*.tmp
*.bak
*.swp


MauiApp1/**/*.g.cs
MauiApp1/**/*.g.i.cs
MauiApp1/**/*.designer.cs
MauiApp1/**/GeneratedMSBuildEditorConfig.editorconfig
MauiApp1/**/project.assets.json
MauiApp1/**/project.nuget.cache
MauiApp1/**/mauiimage.outputs